.form-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 12rem;
}
.form-input {
  width: 300px;
  height: 35px;
}
.form-button {
  height: 40px;
}

@media screen and (min-width: 480px) {
  .form-container {
    top: 16rem;
  }
  .form-input {
    width: 23rem;
    height: 40px;
  }
  .form-button {
    height: 45px;
  }
}
