.app-container {
  margin: 10px;
}
.app-header {
  margin-left: 15px;
}

.close-button {
  position: relative;
  left: 10rem;
  top: -34px;
}
.chat-icon-button {
  border: none;
  background-color: white;
  position: absolute;
  left: 10.5rem;
  top: 23rem;
}
.chat-svg {
  width: 80px;
}

@media screen and (min-width: 480px) {
  .app-container {
    margin: 0;
  }
  .app-header {
    margin-left: 27.7rem;
    margin-top: 2rem;
  }
  .close-button {
    left: 25rem;
  }
  .chat-icon-button {
    left: 60%;
    top: 30rem;
  }
  .chat-svg {
    width: 130px;
  }
}
